 #slider-home {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 20px;
        }

        #slider-home .container {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        #slider-home .img-placeholder {
            width: 70%;
            min-height: 400px;
        }

        #slider-home .slider-text {
            display: flex;
            flex-direction: column;
            width: 30%;
            padding: 20px;
            justify-content: center;
            align-items: flex-start;
        }

        #slider-home .slider-text .main-title {
             padding: 20px 0;
        }

        #slider-home .slider-text .call-to-action {
            margin-top: 20px;
            padding: 10px 20px;
        }

        #highlights-bar {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        #highlights-bar .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-content: normal;
            min-height: 100px;
            width: 100%;
            padding: 20px;
            border: 2px solid #e0e0e0;     
            border-left: none;           
            border-right: none;
        }

        #highlights-bar .element {
             display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            min-width: 100px;
            min-height: 100px;
            margin-right: 10px;
        }

        #highlights-bar .element .img-placeholder {
            display: flex;
            min-width: 100px;
            min-height: 100px;
            margin-right: 10px;
        }

        #block-popular {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 40px 20px;
        }

        #block-popular .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-content: normal;
            min-height: 100px;
            width: 100%;
            padding: 20px;
        }

        #block-popular .element {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            min-width: 100px;
            min-height: 100px;
            margin-right: 10px;
        }

        #block-popular .element .img-placeholder {
            display: flex;
            min-width: 300px;
            min-height: 200px;
            margin-right: 10px;
        }

        #block-popular .element div:nth-child(2){
           margin-top: 20px; 
        }

        #block-for-you {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 40px 20px;
        }

        #block-for-you .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-content: normal;
            min-height: 100px;
            width: 100%;
            padding: 20px;
        }

        #block-for-you .element {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            min-width: 100px;
            min-height: 100px;
            margin-right: 10px;
        }

        #block-for-you .element .img-placeholder {
            display: flex;
            min-width: 300px;
            min-height: 150px;
            margin-right: 10px;
        }